# Each line is a file pattern followed by one or more owners.

 # These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these users will be requested for
# review when someone opens a pull request.
*   @eromano @popovicsandras @DenysVuika

 # You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com
docs/* @m-hulbert  @eromano
