/coverage
/.travis.yml
/.editorconfig
/tslint.json
/pom.xml
*.iml
/.idea
/test/
/assets/
*.tgz
*.DS_Store
/package/
/.github/
/api-codegen
/.vscode
/definitions
/performance
/scripts
tsconfig.json
/tools/
/target/
/.history/
/tsconfig/
