/coverage
/.travis.yml
/.editorconfig
/tslint.json
/pom.xml
*.iml
/.idea
/test/
/assets/
*.tgz
*.DS_Store
/package/
/.github/
/api-codegen
/.vscode
/definitions
/performance
/scripts
webpack.config.js
tsconfig.json
/.make-packages.js
/.make-helpers.js
/tsconfig.base.json
/tools/
/target/
/.history/
/tsconfig/
