/coverage
/.editorconfig
/pom.xml
*.iml
cspell.json
/.idea
/test/
*.tgz
*.DS_Store
/package/
/.github/
/api-codegen
/.vscode
/definitions
/scripts
tsconfig.json
/.make-packages.js
/tsconfig.base.json
/tools/
/target/
/tsconfig/
/src/
