{{>licenseInfo}}

import { AlfrescoApi } from '../../../alfrescoApi';
import { AlfrescoApiClient } from '../../../alfrescoApiClient';

export class BaseApi {

apiClient: AlfrescoApiClient;

    constructor(alfrescoApi?: AlfrescoApi) {
        this.apiClient = alfrescoApi.ecmClient;
    }

    errorMessage(param: string, methodName: string) {
        return `Missing param ${param} in ${methodName}`;
    }
}
