{{>licenseInfo}}

import { ApiClient } from '../../../api-clients/api-client';
import { LegacyHttpClient } from '../../../api-clients/http-client.interface';

export abstract class BaseApi extends ApiClient {
    get apiClient(): LegacyHttpClient {
        return this.httpClient ?? this.alfrescoApi.contentClient;
    }
}
