{{#appDescription}}# {{{appDescription}}}{{/appDescription}}
{{^hideGenerationTimestamp}}> Documentation updated on: {{generatedDate}}{{/hideGenerationTimestamp}}

## Methods

All URIs are relative to:

```text
{{basePath}}
```

Class | Method | HTTP request | Description
------------ | ------------- | ------------- | -------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}{{classname}} | [**{{operationId}}**](docs/{{classname}}.md#{{operationId}}) | **{{httpMethod}}** {{path}} | {{#summary}}{{&summary}}{{/summary}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
## Models

{{#models}}{{#model}}- [{{classname}}](docs/{{classname}}.md)
{{/model}}{{/models}}